@mixin header-position
{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin button
{
    padding: 1rem;
    color: white;
    font-weight: 700;
    background: linear-gradient(300deg, $primary-color 10%, $secondary-color 90%);
    border-radius: 3rem;
}