@mixin button
{
    padding: 1rem;
    color: white;
    font-weight: 700;
    background: linear-gradient(to top left, $primary-color 10%, $secondary-color 90%);
    box-shadow: 0rem 0.5rem 1rem lightgray;
    border-radius: 3rem;
}
@mixin heart
{
    font-weight: lighter;
    font-size: 1.6rem;

    &:hover
    {
        font-weight: bold;
        background: linear-gradient($primary-color 10%, $secondary-color 90%);
        background-clip: text;
        color: transparent;
    }
}
@mixin mobile
{
    @media screen and (max-width: map-get($breakpoints, mobile)) 
    {
        @content;
    }
}
@mixin tablet
{
    @media screen and (max-width: map-get($breakpoints , tablet ))
    {
        @content;
    }    
}