 .exploration
{
    text-align: center;
    background-color: #F2F2F2;
    padding-bottom: 3.5rem;
    padding-top: 2.2rem;

    &__title
    {
        padding-left: 3rem;
        padding-right: 4rem;
    }
    &__paragraphe
    {
        padding: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 1.8rem;
        color: #353535;
        font-weight: 300;
        font-size: 1.1rem;
        text-align: center;

    }
    &__button
    {
        @include button;
    }
}
.guide
{
    padding-top: 3rem;
    padding-bottom: 4rem;

    &__title
    {
        margin-left: 1.2rem;
        margin-bottom: 2rem;
    }
    &__list
    {
        display: flex;
        justify-content: space-between;

        @include tablet 
        {
            flex-direction: column;
            height: 16.6rem;
        }
    }
    &__bullet
    {
        padding: 1.5rem;
        margin-left: 2rem;
        margin-right: 1.3rem;
        display: flex;
        align-items: center;
        background-color: #F2F2F2;
        border-radius: 1rem;
        box-shadow: 0rem 0rem 0.5rem lightgray;

        &:hover
        {
            background-color: lighten($primary-color, 25%);
            i
            {
                color: $primary-color;
            }
        }
    }
    &__number
    {
        position: relative;
        right: 2.2rem;
        text-align: center;
        padding: 0.2rem;
        font-size: 0.8rem;
        color: white;
        font-weight: 700;
        border-radius: 30rem;
        background-color: $primary-color;
        min-height: 1rem;
        min-width: 1rem;
    }
    &__span-icon
    {
        text-align: center;
        width: 1rem;
        margin-right: 1.5rem;
    }
    &__icon
    {
        font-size: 1.2rem;
        color: #7e7e7e;
    }
    &__instruction
    {
        font-weight: 500;
    }
}
.restaurant
{
    background-color: #F2F2F2;
    padding-top: 3.45rem;
    padding-bottom: 4.2rem;

    &__title
    {
        margin-left: 1.2rem;
        margin-bottom: 1.3rem;
    }
    &__container
    {
        display: flex;
        justify-content: space-between;

        @include tablet
        {
            flex-wrap: wrap;
        }
        @include mobile
        {
            flex-direction: column;
            flex-wrap: nowrap;
            height: 66rem;
        }
    }
    &__sticker
    {
        padding: 0.7rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        width: max-content;
        border-radius: 0.1rem;
        font-size: 0.9rem;
        font-weight: 500;
        color: $font-sticker-color;
        background-color: $sticker-color;
        box-shadow: 0rem 0.2rem 0.8rem black;
        position: absolute;
        top: 0.9rem;
        right: 1rem;

        &--disabled
        {
            display: none;
        }
    }
    &__card
    {
        margin: 1rem;
        position: relative;
        border-radius: 1rem;
        background-color: white;
        box-shadow: 0rem 0.5rem 1rem lightgray;
        width: 25%;

        @include tablet
        {
            width: 45%;
        }
        @include mobile
        {
            margin: 0rem;
            margin-left: 1rem;
            margin-right: 1rem;
            width: auto;
        } 
    }
    &__image
    {
        width: 100%;
        height: 10.95rem;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    &__description
    {
        padding-top: 0.85rem;
        padding-left: 1.05rem;
        padding-right: 4rem;
        padding-bottom: 1.3rem;
    }
    &__district
    {
        font-weight: 300;
    }
    &__heart
    {
        position: absolute;
        top: 12.25rem;
        right: 1.7rem;

        @include heart;
    }
}