@font-face
{
    font-family: 'Roboto','Shrikhand', sans-serif;
    src: url('polices/Roboto/Roboto-Black.ttf') format('truetype');
}
*
{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
h1
{
    font-family: 'Shrikhand', sans-serif;
}
a
{
    text-decoration: none;
    color: black;
}
button
{
    border: none;
}
li
{
    list-style: none;
}