.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    &__logo
    {
        padding: 1rem;
    }
    &__location
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eaeaea;  
        padding: 1rem;
        color: #353535;
        font-weight: 700;
        box-shadow: inset 0rem 0.1rem 0.1em lightgray;
        width: 100%;
    }
    &__town
    {
        margin-left: 1rem;
    }
}
    