.main
{
    margin-bottom: -3.5rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
    position: relative;
    bottom: 3.5rem;
    background-color: #F2F2F2;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;

    &__title
    {
        padding-left: 1.25rem;
        font-size: 1.7rem;
        padding-right: 5rem;
    }
    &__heart-position
    {
        display: inline-block;
        position: absolute;
        top: 2.4rem;
        right: 2.35rem;
    }
    &__heart
    {
        @include heart;
    }
    &__subtitle
    {
        margin-bottom: 1rem;
        margin-top: 0.9rem;
        margin-left: 0.5rem;
        font-size: 1rem;
        font-weight: 300;
        width: 100%;

        @include mobile
        {
            width: auto;
        }
    }
    &__underline
    {
        padding-bottom: 0.3rem;
        display: inline-block;
        border-bottom: solid $tertiary-color;
    }
    &__section
    {
        margin-right: 0.8rem;
        margin-left: 0.8rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        @include tablet
        {
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    &__content
    {
        padding: 0.7rem;
        width: 100%;
    }
    &__card
    {
        margin-bottom: 1rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: 0rem 0.5rem 1rem lightgray;
        width: 28%;
        height: max-content;
        animation: fade-in 2s;

        &:hover
        {
            .main__validation
            {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $sticker-color;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                width: 20%;
                transform-origin: right;
                animation: slide-in 400ms;
            }
            .main__content
            {
                width: 80%;
            }
        }
        @include tablet
        {
            width: auto;
        }
    }
    &__link
    {
        display: flex;
    }
    &__validation
    {
        display: none;
    }
    &__icon
    {
        color: white;
        font-size: 1.5rem;
        animation: roll-in 400ms;
    }
    &__meal
    {
        margin-bottom: 0.1rem;
        margin-right: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &__description
    {
        display: flex;
        justify-content: space-between;
    }
    &__meal-info
    {
        font-weight: 300;
        width: 85%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &__price
    {
        font-weight: 700;
        color: $background-color-footer;
        width: 15%;
        text-align: right;
    }
    &__order
    {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
    &__button
    {
        width: 12rem;
        @include button;
    }
    @keyframes roll-in
    {
        from
        {
            transform: translateX(2rem) rotate(0turn);
        }
        to
        {
            transform: translateX(0rem) rotate(2turn);
        }
    }

    @keyframes slide-in
    {
        from
        {
            transform: scaleX(0);
        }
        to
        {
            transform: scaleX(1);
        }
    }

    @keyframes fade-in
    {
        from
        {
            transform: translateY(4rem);
            opacity: 0;
        }
        to
        {
            transform: translateY(0rem);
            opacity: 1;
        }
    }
}