.restaurant
{
    background-color: #F2F2F2;
    padding-top: 2rem;
    padding-bottom: 4rem;

    &__title
    {
        padding-left: 1.5rem;
    }
    &__sticker
    {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        width: max-content;
        border-radius: 0.1rem;
        font-size: 0.8rem;
        font-weight: 500;
        color: $font-sticker-color;
        background-color: $sticker-color;
        box-shadow: 0rem 0.2rem 0.8rem black;
        position: absolute;
        top: 1rem;
        right: 5%;

        &--disabled
        {
            display: none;
        }
    }
    &__card
    {
        margin-top: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        position: relative;
        border-radius: 1rem;
        background-color: white;
        box-shadow: 0rem 0.5rem 1rem lightgray;
    }
    &__image
    {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    &__description
    {
        padding: 1rem;
    }
    &__district
    {
        font-weight: 300;
    }
    &__heart
    {
        position: absolute;

        top: 11.5rem;
        right: 5%; 

        @include heart;
    }
}