@mixin heart
{
    font-size: 1.4rem;
    color: transparent;
    -webkit-text-stroke: 1px black;
    -webkit-background-clip: text;
    padding: 0.1rem;
    background-image: linear-gradient($primary-color 10%, $secondary-color 90%);
    background-repeat: no-repeat;
    background-position-y: 1.4rem;
    transition: background-position-y 400ms;
    transition-timing-function: ease-in-out;

    &:hover
    {
        background-position-y: 0;
        -webkit-text-stroke: 1px transparent;
    }
}